{"openapi":"3.0.1","info":{"title":"CatalogObjectEntity Catalog API","description":"The purpose of the catalog is to store ProActive objects.\n\nA catalog is subdivided into buckets.\n\n Each bucket manages zero, one or more\nversioned ProActive objects.","license":{"name":"GNU Affero General Public License v3.0","url":"https://github.com/ow2-proactive/catalog/blob/master/LICENSE.txt"},"version":"1.0\""},"servers":[{"url":"https://trydev2.activeeon.com:8443/catalog","description":"Generated server url"}],"paths":{"/graphql":{"post":{"tags":["graphql-controller"],"operationId":"executeOperation","parameters":[{"name":"sessionid","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/buckets":{"get":{"tags":["bucket-controller"],"summary":"Lists the buckets","operationId":"list","parameters":[{"name":"sessionID","in":"header","description":"sessionID","required":false,"schema":{"type":"string"}},{"name":"owner","in":"query","description":"The name of the user who owns the Bucket","required":false,"schema":{"type":"string"}},{"name":"tenant","in":"query","description":"The name of the tenant that has access to the Bucket","required":false,"schema":{"type":"string"}},{"name":"kind","in":"query","description":"The kind(s) of objects that buckets must contain.<br />Multiple kinds can be specified using comma separators","required":false,"schema":{"type":"string"}},{"name":"contentType","in":"query","description":"The Content-Type of objects that buckets must contain","required":false,"schema":{"type":"string"}},{"name":"objectTag","in":"query","description":"The tag of objects that buckets must contain","required":false,"schema":{"type":"string"}},{"name":"associationStatus","in":"query","description":"The buckets must contain objects which have the given job-planner association status.<br />Can be ALL, PLANNED, DEACTIVATED, FAILED or UNPLANNED.<br />ALL will filter objects which have an association with any status.<br />UNPLANNED will filter objects without any association.","required":false,"schema":{"type":"string","enum":["ALL","PLANNED","DEACTIVATED","FAILED","UNPLANNED"]}},{"name":"objectName","in":"query","description":"The name of objects that buckets must contain","required":false,"schema":{"type":"string"}},{"name":"bucketName","in":"query","description":"The bucket name contains the value of this parameter (case insensitive)","required":false,"schema":{"type":"string"}},{"name":"projectName","in":"query","description":"Include only objects whose project name contains the given string.","required":false,"schema":{"type":"string"}},{"name":"lastCommitBy","in":"query","description":"Include only objects whose last commit belong to the given user.","required":false,"schema":{"type":"string"}},{"name":"committedAtLeastOnceBy","in":"query","description":"Include only objects have been committed at least once by the given user.","required":false,"schema":{"type":"string"}},{"name":"lastCommitTimeGreater","in":"query","description":"Include only objects whose last commit time is greater than the given EPOCH time.","required":false,"schema":{"type":"integer","format":"int64","default":0}},{"name":"lastCommitTimeLessThan","in":"query","description":"Include only objects whose last commit time is less than the given EPOCH time.","required":false,"schema":{"type":"integer","format":"int64","default":0}},{"name":"allBuckets","in":"query","description":"If true, buckets without objects matching the filters will be returned with objectCount=0. Default is false","required":false,"schema":{"type":"string","default":"false"}}],"responses":{"401":{"description":"User not authenticated","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BucketMetadata"}}}}},"403":{"description":"Permission denied","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BucketMetadata"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BucketMetadata"}}}}}}},"post":{"tags":["bucket-controller"],"summary":"Creates a new bucket","operationId":"create","parameters":[{"name":"sessionID","in":"header","description":"sessionID","required":true,"schema":{"type":"string"}},{"name":"name","in":"query","description":"The unique name of the Bucket.<br />The name of bucket can be between 3 and 63 characters long, and can contain only lower-case characters, numbers, and dashes.<br />A bucket's name must start with a lowercase letter and cannot terminate with a dash","required":true,"schema":{"pattern":"[a-z][a-z0-9-]{1,61}[a-z0-9]","type":"string"}},{"name":"owner","in":"query","description":"The name of the user that will own the Bucket. Defaults to GROUP:public-objects","required":false,"schema":{"type":"string","default":"GROUP:public-objects"}}],"responses":{"401":{"description":"User not authenticated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BucketMetadata"}}}},"403":{"description":"Permission denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BucketMetadata"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BucketMetadata"}}}}}},"delete":{"tags":["bucket-controller"],"summary":"Delete the empty buckets","operationId":"cleanEmpty","parameters":[{"name":"sessionID","in":"header","description":"sessionID","required":true,"schema":{"type":"string"}}],"responses":{"401":{"description":"User not authenticated"},"403":{"description":"Permission denied"},"200":{"description":"OK"}}}},"/buckets/{bucketName}":{"get":{"tags":["bucket-controller"],"summary":"Gets a bucket's metadata by ID","operationId":"getMetadata","parameters":[{"name":"sessionID","in":"header","description":"sessionID","required":false,"schema":{"type":"string"}},{"name":"bucketName","in":"path","description":"The name of the existing Bucket","required":true,"schema":{"pattern":"[a-z][a-z0-9-]{1,61}[a-z0-9]","type":"string"}}],"responses":{"404":{"description":"Bucket not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BucketMetadata"}}}},"401":{"description":"User not authenticated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BucketMetadata"}}}},"403":{"description":"Permission denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BucketMetadata"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BucketMetadata"}}}}}},"put":{"tags":["bucket-controller"],"summary":"Update bucket owner","operationId":"updateBucketOwner","parameters":[{"name":"sessionID","in":"header","description":"sessionID","required":true,"schema":{"type":"string"}},{"name":"bucketName","in":"path","description":"The name of the existing Bucket","required":true,"schema":{"pattern":"[a-z][a-z0-9-]{1,61}[a-z0-9]","type":"string"}},{"name":"owner","in":"query","description":"The new name of the user that will own the Bucket","required":true,"schema":{"type":"string"}}],"responses":{"401":{"description":"User not authenticated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BucketMetadata"}}}},"403":{"description":"Permission denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BucketMetadata"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BucketMetadata"}}}}}},"delete":{"tags":["bucket-controller"],"summary":"Delete an empty bucket","description":"Note: it is forbidden to delete a non-empty bucket. You need to delete manually all workflows in the bucket before.","operationId":"delete","parameters":[{"name":"sessionID","in":"header","description":"sessionID","required":true,"schema":{"type":"string"}},{"name":"bucketName","in":"path","description":"The name of the existing Bucket","required":true,"schema":{"pattern":"[a-z][a-z0-9-]{1,61}[a-z0-9]","type":"string"}}],"responses":{"404":{"description":"Bucket not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BucketMetadata"}}}},"401":{"description":"User not authenticated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BucketMetadata"}}}},"403":{"description":"Permission denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BucketMetadata"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BucketMetadata"}}}}}}},"/buckets/{bucketName}/resources":{"get":{"tags":["catalog-object-controller"],"summary":"Lists catalog objects metadata","description":"Note: Returns catalog objects metadata associated to the latest revision.","operationId":"list_1","parameters":[{"name":"sessionID","in":"header","description":"sessionID","required":false,"schema":{"type":"string"}},{"name":"bucketName","in":"path","required":true,"schema":{"type":"string"}},{"name":"kind","in":"query","description":"Filter according to kind(s).<br/>Multiple kinds can be specified using comma separators","required":false,"schema":{"type":"string"}},{"name":"contentType","in":"query","description":"Filter according to Content-Type.","required":false,"schema":{"type":"string"}},{"name":"objectName","in":"query","description":"Filter according to Object Name.","required":false,"schema":{"type":"string"}},{"name":"objectTag","in":"query","description":"Filter according to Object Tag.","required":false,"schema":{"type":"string"}},{"name":"associationStatus","in":"query","description":"Filter according to Job-Planner association status.<br/>If enabled, only objects for which a job-planner association exists with the provided status will be returned.<br/>Parameter can be ALL, PLANNED, DEACTIVATED, FAILED or UNPLANNED.<br/>ALL will filter objects which have an association with any status.<br/>UNPLANNED will filter objects without any association.","required":false,"schema":{"type":"string","enum":["ALL","PLANNED","DEACTIVATED","FAILED","UNPLANNED"]}},{"name":"projectName","in":"query","description":"Include only objects whose project name contains the given string.","required":false,"schema":{"type":"string"}},{"name":"lastCommitBy","in":"query","description":"Include only objects whose last commit belong to the given user.","required":false,"schema":{"type":"string"}},{"name":"committedAtLeastOnceBy","in":"query","description":"Include only objects that have been committed at least once by the given user.","required":false,"schema":{"type":"string"}},{"name":"lastCommitTimeGreater","in":"query","description":"Include only objects whose last commit time is greater than the given EPOCH time.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"lastCommitTimeLessThan","in":"query","description":"Include only objects whose last commit time is less than the given EPOCH time.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"listObjectNamesForArchive","in":"query","description":"Give a list of name separated by comma to get them in an archive","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"pageNo","in":"query","description":"Page number","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"pageSize","in":"query","description":"Page size","required":false,"schema":{"type":"integer","format":"int32","default":2147483647}}],"responses":{"404":{"description":"Bucket not found","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}}},"206":{"description":"Missing object","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}}},"401":{"description":"User not authenticated","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}}}}},"post":{"tags":["catalog-object-controller"],"summary":"Creates a new catalog object","operationId":"create_1","parameters":[{"name":"sessionID","in":"header","description":"sessionID","required":true,"schema":{"type":"string"}},{"name":"bucketName","in":"path","description":"The name of the existing Bucket","required":true,"schema":{"pattern":"[a-z][a-z0-9-]{1,61}[a-z0-9]","type":"string"}},{"name":"name","in":"query","description":"Name of the object or empty when a ZIP archive is uploaded.<br/>All objects inside an archive will be stored inside the catalog.","required":false,"schema":{"pattern":"^[^\\s\\/,]+(\\s+[^\\s\\/,]+)*$","type":"string"}},{"name":"projectName","in":"query","description":"Project of the object","required":false,"schema":{"type":"string","default":""}},{"name":"tags","in":"query","description":"List of comma separated tags of the object","required":false,"schema":{"pattern":"^([a-zA-Z][\\s0-9a-zA-Z-_.\\/]+[,]*)*(?<!,)$","type":"string"}},{"name":"kind","in":"query","description":"Kind of the new object","required":true,"schema":{"pattern":"^([a-zA-Z0-9][a-zA-Z0-9_\\. ;=\\+\\-]{0,61}[a-zA-Z0-9]\\/?)+$","type":"string"}},{"name":"commitMessage","in":"query","description":"Commit message","required":true,"schema":{"type":"string"}},{"name":"objectContentType","in":"query","description":"The Content-Type of CatalogRawObject - MIME type","required":true,"schema":{"pattern":"^([a-zA-Z0-9][a-zA-Z0-9_\\. ;=\\+\\-]{0,61}[a-zA-Z0-9]\\/?)+$","type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","description":"The content of CatalogRawObject","format":"binary"}}}}}},"responses":{"404":{"description":"Bucket not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectMetadataList"}}}},"422":{"description":"Invalid file content supplied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectMetadataList"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectMetadataList"}}}}}}},"/buckets/{bucketName}/resources/{name}":{"get":{"tags":["catalog-object-controller"],"summary":"Gets a catalog object's metadata by IDs","description":"Note: returns metadata associated to the latest revision of the catalog object.","operationId":"get","parameters":[{"name":"sessionID","in":"header","description":"sessionID","required":false,"schema":{"type":"string"}},{"name":"bucketName","in":"path","description":"The name of the existing Bucket","required":true,"schema":{"pattern":"[a-z][a-z0-9-]{1,61}[a-z0-9]","type":"string"}},{"name":"name","in":"path","description":"The name of the existing Object","required":true,"schema":{"pattern":"^[^\\s\\/,]+(\\s+[^\\s\\/,]+)*$","type":"string"}},{"name":"checkAssociationStatus","in":"query","description":"Check job planner association status","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"401":{"description":"User not authenticated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}},"403":{"description":"Permission denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}},"404":{"description":"Bucket or catalog object not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}}}},"put":{"tags":["catalog-object-controller"],"summary":"Update a catalog object metadata, like kind, Content-Type, project name and tags","operationId":"updateObjectMetadata","parameters":[{"name":"sessionID","in":"header","description":"sessionID","required":true,"schema":{"type":"string"}},{"name":"bucketName","in":"path","description":"The name of the existing Bucket","required":true,"schema":{"pattern":"[a-z][a-z0-9-]{1,61}[a-z0-9]","type":"string"}},{"name":"name","in":"path","description":"The name of the existing Object","required":true,"schema":{"pattern":"^[^\\s\\/,]+(\\s+[^\\s\\/,]+)*$","type":"string"}},{"name":"kind","in":"query","description":"The new kind of an object","required":false,"schema":{"pattern":"^([a-zA-Z0-9][a-zA-Z0-9_\\. ;=\\+\\-]{0,61}[a-zA-Z0-9]\\/?)+$","type":"string"}},{"name":"contentType","in":"query","description":"The new Content-Type of an object - MIME type","required":false,"schema":{"pattern":"^([a-zA-Z0-9][a-zA-Z0-9_\\. ;=\\+\\-]{0,61}[a-zA-Z0-9]\\/?)+$","type":"string"}},{"name":"projectName","in":"query","description":"The new project name of an object","required":false,"schema":{"type":"string"}},{"name":"tags","in":"query","description":"List of comma separated tags of the object","required":false,"schema":{"pattern":"^([a-zA-Z][\\s0-9a-zA-Z-_.\\/]+[,]*)*(?<!,)$","type":"string"}}],"responses":{"404":{"description":"Bucket, object or revision not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}},"401":{"description":"User not authenticated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}},"403":{"description":"Permission denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}},"400":{"description":"Wrong specified parameters: at least one should be present","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}}}},"delete":{"tags":["catalog-object-controller"],"summary":"Delete a catalog object","description":"Note: delete the entire catalog object as well as its revisions. Returns the deleted CatalogObject's metadata.","operationId":"delete_1","parameters":[{"name":"sessionID","in":"header","description":"sessionID","required":true,"schema":{"type":"string"}},{"name":"bucketName","in":"path","description":"The name of the existing Bucket","required":true,"schema":{"pattern":"[a-z][a-z0-9-]{1,61}[a-z0-9]","type":"string"}},{"name":"name","in":"path","description":"The name of the Object to delete","required":true,"schema":{"pattern":"^[^\\s\\/,]+(\\s+[^\\s\\/,]+)*$","type":"string"}}],"responses":{"404":{"description":"Bucket or object not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}},"401":{"description":"User not authenticated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}},"403":{"description":"Permission denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}}}}},"/buckets/{bucketName}/resources/{name}/revisions":{"get":{"tags":["catalog-object-revision-controller"],"summary":"Lists a catalog object revisions","operationId":"list_2","parameters":[{"name":"sessionID","in":"header","description":"sessionID","required":false,"schema":{"type":"string"}},{"name":"bucketName","in":"path","description":"The name of the existing Bucket","required":true,"schema":{"pattern":"[a-z][a-z0-9-]{1,61}[a-z0-9]","type":"string"}},{"name":"name","in":"path","description":"The name of the existing Object","required":true,"schema":{"pattern":"^[^\\s\\/,]+(\\s+[^\\s\\/,]+)*$","type":"string"}}],"responses":{"401":{"description":"User not authenticated","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}}},"403":{"description":"Permission denied","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}}},"404":{"description":"Bucket or catalog object not found","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}}}}},"post":{"tags":["catalog-object-revision-controller"],"summary":"Creates a new catalog object revision","operationId":"create_2","parameters":[{"name":"sessionID","in":"header","description":"sessionID","required":true,"schema":{"type":"string"}},{"name":"bucketName","in":"path","description":"The name of the existing Bucket","required":true,"schema":{"pattern":"[a-z][a-z0-9-]{1,61}[a-z0-9]","type":"string"}},{"name":"name","in":"path","description":"The name of the existing Object","required":true,"schema":{"pattern":"^[^\\s\\/,]+(\\s+[^\\s\\/,]+)*$","type":"string"}},{"name":"commitMessage","in":"query","description":"The commit message of the CatalogRawObject Revision","required":true,"schema":{"type":"string"}},{"name":"projectName","in":"query","description":"Project of the object","required":false,"schema":{"type":"string","default":""}},{"name":"tags","in":"query","description":"Tags of the object","required":false,"schema":{"type":"string","default":""}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"404":{"description":"Bucket not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}},"401":{"description":"User not authenticated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}},"403":{"description":"Permission denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}},"422":{"description":"Invalid catalog object JSON content supplied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}}}}},"/buckets/{bucketName}/resources/{name}/revisions/{commitTimeRaw}":{"get":{"tags":["catalog-object-revision-controller"],"summary":"Gets a specific revision","operationId":"get_1","parameters":[{"name":"sessionID","in":"header","description":"sessionID","required":false,"schema":{"type":"string"}},{"name":"bucketName","in":"path","description":"The name of the existing Bucket","required":true,"schema":{"pattern":"[a-z][a-z0-9-]{1,61}[a-z0-9]","type":"string"}},{"name":"name","in":"path","description":"The name of the existing Object","required":true,"schema":{"pattern":"^[^\\s\\/,]+(\\s+[^\\s\\/,]+)*$","type":"string"}},{"name":"commitTimeRaw","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Bucket, catalog object or catalog object revision not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}},"401":{"description":"User not authenticated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}},"403":{"description":"Permission denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}}}},"put":{"tags":["catalog-object-revision-controller"],"summary":"Restore a catalog object revision","operationId":"restore","parameters":[{"name":"sessionID","in":"header","description":"sessionID","required":true,"schema":{"type":"string"}},{"name":"bucketName","in":"path","description":"The name of the existing Bucket","required":true,"schema":{"pattern":"[a-z][a-z0-9-]{1,61}[a-z0-9]","type":"string"}},{"name":"name","in":"path","description":"The name of the existing Object","required":true,"schema":{"pattern":"^[^\\s\\/,]+(\\s+[^\\s\\/,]+)*$","type":"string"}},{"name":"commitTimeRaw","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Bucket, object or revision not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}},"401":{"description":"User not authenticated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}},"403":{"description":"Permission denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}},"422":{"description":"Invalid catalog object JSON content supplied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}}}}},"/buckets/{bucketName}/resources/{name}/revisions/{commitTimeRaw}/raw":{"get":{"tags":["catalog-object-revision-controller"],"summary":"Gets the raw content of a specific revision","operationId":"getRaw","parameters":[{"name":"sessionID","in":"header","description":"sessionID","required":false,"schema":{"type":"string"}},{"name":"bucketName","in":"path","description":"The name of the existing Bucket","required":true,"schema":{"pattern":"[a-z][a-z0-9-]{1,61}[a-z0-9]","type":"string"}},{"name":"name","in":"path","description":"The name of the existing Object","required":true,"schema":{"pattern":"^[^\\s\\/,]+(\\s+[^\\s\\/,]+)*$","type":"string"}},{"name":"commitTimeRaw","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Bucket, catalog object or catalog object revision not found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"Ok","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"User not authenticated","content":{"*/*":{"schema":{"type":"string"}}}},"403":{"description":"Permission denied","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/buckets/{bucketName}/resources/{name}/raw":{"get":{"tags":["catalog-object-controller"],"summary":"Gets the raw content of the last revision of a catalog object","operationId":"getRaw_1","parameters":[{"name":"sessionID","in":"header","description":"sessionID","required":false,"schema":{"type":"string"}},{"name":"bucketName","in":"path","description":"The name of the existing Bucket","required":true,"schema":{"pattern":"[a-z][a-z0-9-]{1,61}[a-z0-9]","type":"string"}},{"name":"name","in":"path","description":"The name of the existing Object","required":true,"schema":{"pattern":"^[^\\s\\/,]+(\\s+[^\\s\\/,]+)*$","type":"string"}}],"responses":{"404":{"description":"Bucket, catalog object or catalog object revision not found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"Ok","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"User not authenticated","content":{"*/*":{"schema":{"type":"string"}}}},"403":{"description":"Permission denied","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/buckets/{bucketName}/resources/{name}/dependencies":{"get":{"tags":["catalog-object-controller"],"summary":"Gets dependencies (dependsOn and calledBy) of a catalog object","operationId":"getDependencies","parameters":[{"name":"sessionID","in":"header","description":"sessionID","required":false,"schema":{"type":"string"}},{"name":"bucketName","in":"path","description":"The name of the existing Bucket","required":true,"schema":{"pattern":"[a-z][a-z0-9-]{1,61}[a-z0-9]","type":"string"}},{"name":"name","in":"path","description":"The name of the existing Object","required":true,"schema":{"pattern":"^[^\\s\\/,]+(\\s+[^\\s\\/,]+)*$","type":"string"}}],"responses":{"404":{"description":"Bucket, catalog object or catalog object revision not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogObjectDependencies"}}}},"200":{"description":"Ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogObjectDependencies"}}}},"401":{"description":"User not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogObjectDependencies"}}}},"403":{"description":"Permission denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogObjectDependencies"}}}}}}},"/buckets/{bucketName}/resources/{catalogObjectName}/grant":{"get":{"tags":["catalog-object-grant-controller"],"summary":"Get all grants associated with a catalog object","operationId":"getAllCreatedCatalogObjectGrantsByAdmins","parameters":[{"name":"sessionID","in":"header","description":"The session id used to access ProActive REST server.","required":true,"schema":{"type":"string"}},{"name":"bucketName","in":"path","description":"The name of the bucket where the catalog objects are stored.","required":true,"schema":{"pattern":"[a-z][a-z0-9-]{1,61}[a-z0-9]","type":"string"}},{"name":"catalogObjectName","in":"path","description":"The name of the object in the bucket, which is the subject of the grant.","required":true,"schema":{"pattern":"^[^\\s\\/,]+(\\s+[^\\s\\/,]+)*$","type":"string"}}],"responses":{"401":{"description":"User not authenticated","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CatalogObjectGrantMetadata"}}}}},"403":{"description":"Permission denied","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CatalogObjectGrantMetadata"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CatalogObjectGrantMetadata"}}}}}}},"delete":{"tags":["catalog-object-grant-controller"],"summary":"Delete all grant associated with a catalog object","operationId":"deleteAllCatalogObjectGrants","parameters":[{"name":"sessionID","in":"header","description":"The session id used to access ProActive REST server.","required":true,"schema":{"type":"string"}},{"name":"bucketName","in":"path","description":"The name of the bucket where the catalog objects are stored.","required":true,"schema":{"pattern":"[a-z][a-z0-9-]{1,61}[a-z0-9]","type":"string"}},{"name":"catalogObjectName","in":"path","description":"The name of the object in the bucket, which is the subject of the grant.","required":true,"schema":{"pattern":"^[^\\s\\/,]+(\\s+[^\\s\\/,]+)*$","type":"string"}}],"responses":{"401":{"description":"User not authenticated","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CatalogObjectGrantMetadata"}}}}},"403":{"description":"Permission denied","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CatalogObjectGrantMetadata"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CatalogObjectGrantMetadata"}}}}}}}},"/buckets/{bucketName}/resources/{catalogObjectName}/grant/user":{"put":{"tags":["catalog-object-grant-controller"],"summary":"Update a user grant access for a catalog object","operationId":"updateCatalogObjectGrantForAUser","parameters":[{"name":"sessionID","in":"header","description":"The session id used to access ProActive REST server.","required":true,"schema":{"type":"string"}},{"name":"bucketName","in":"path","description":"The name of the bucket where the catalog object is stored.","required":true,"schema":{"pattern":"[a-z][a-z0-9-]{1,61}[a-z0-9]","type":"string"}},{"name":"catalogObjectName","in":"path","description":"The name of the object in the bucket, which is the subject of the grant.","required":true,"schema":{"pattern":"^[^\\s\\/,]+(\\s+[^\\s\\/,]+)*$","type":"string"}},{"name":"accessType","in":"query","description":"The new type of the access grant.<br />It can be either noAccess, read, write or admin.","required":true,"schema":{"type":"string","enum":["noAccess","read","write","admin"]}},{"name":"username","in":"query","description":"The name of the user that is benefiting from the access grant.","required":true,"schema":{"type":"string","default":""}}],"responses":{"401":{"description":"User not authenticated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectGrantMetadata"}}}},"403":{"description":"Permission denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectGrantMetadata"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectGrantMetadata"}}}}}},"post":{"tags":["catalog-object-grant-controller"],"summary":"Create a new user grant for a catalog object","operationId":"createCatalogObjectGrantForAUser","parameters":[{"name":"sessionID","in":"header","description":"The session id used to access ProActive REST server.","required":true,"schema":{"type":"string"}},{"name":"bucketName","in":"path","description":"The name of the bucket where the catalog object is stored.","required":true,"schema":{"pattern":"[a-z][a-z0-9-]{1,61}[a-z0-9]","type":"string"}},{"name":"catalogObjectName","in":"path","description":"The name of the object in the bucket, which is the subject of the grant.","required":true,"schema":{"pattern":"^[^\\s\\/,]+(\\s+[^\\s\\/,]+)*$","type":"string"}},{"name":"accessType","in":"query","description":"The type of the access grant. It can be either noAccess, read, write or admin.","required":true,"schema":{"type":"string","enum":["noAccess","read","write","admin"]}},{"name":"username","in":"query","description":"The name of the user that will benefit of the access grant.","required":true,"schema":{"type":"string","default":""}}],"responses":{"401":{"description":"User not authenticated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectGrantMetadata"}}}},"403":{"description":"Permission denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectGrantMetadata"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectGrantMetadata"}}}}}},"delete":{"tags":["catalog-object-grant-controller"],"summary":"Delete a user grant access for a catalog object","operationId":"deleteCatalogObjectGrantForAUser","parameters":[{"name":"sessionID","in":"header","description":"The session id used to access ProActive REST server.","required":true,"schema":{"type":"string"}},{"name":"bucketName","in":"path","description":"The name of the bucket where the catalog object is stored.","required":true,"schema":{"pattern":"[a-z][a-z0-9-]{1,61}[a-z0-9]","type":"string"}},{"name":"catalogObjectName","in":"path","description":"The name of the object in the bucket, which is the subject of the grant.","required":true,"schema":{"pattern":"^[^\\s\\/,]+(\\s+[^\\s\\/,]+)*$","type":"string"}},{"name":"username","in":"query","description":"The name of the user that is benefiting of the access grant.","required":true,"schema":{"type":"string","default":""}}],"responses":{"401":{"description":"User not authenticated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectGrantMetadata"}}}},"403":{"description":"Permission denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectGrantMetadata"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectGrantMetadata"}}}}}}},"/buckets/{bucketName}/resources/{catalogObjectName}/grant/group":{"put":{"tags":["catalog-object-grant-controller"],"summary":"Update a user group grant access for a catalog object","operationId":"updateCatalogObjectGrantForAGroup","parameters":[{"name":"sessionID","in":"header","description":"The session id used to access ProActive REST server.","required":true,"schema":{"type":"string"}},{"name":"bucketName","in":"path","description":"The name of the bucket where the catalog object is stored.","required":true,"schema":{"pattern":"[a-z][a-z0-9-]{1,61}[a-z0-9]","type":"string"}},{"name":"catalogObjectName","in":"path","description":"The name of the object in the bucket, which is the subject of the grant.","required":true,"schema":{"pattern":"^[^\\s\\/,]+(\\s+[^\\s\\/,]+)*$","type":"string"}},{"name":"accessType","in":"query","description":"The new type of the access grant.<br />It can be either noAccess, read, write or admin.","required":true,"schema":{"type":"string","enum":["noAccess","read","write","admin"]}},{"name":"priority","in":"query","description":"The new priority of the access grant. It can be a value from 1 (lowest) to 10 (highest), with 5 as default.<br />Priorities are used to compute the final access rights of a user belonging to multiple groups.<br />Group grants with the same priority will resolve with the default accessType order (admin > write > read > noAccess).<br />Finally, please note that a user grant has always more priority than a group grant.","required":true,"schema":{"maximum":10,"minimum":1,"type":"integer","default":5}},{"name":"userGroup","in":"query","description":"The name of the group of users that are benefiting of the access grant.","required":true,"schema":{"type":"string"}}],"responses":{"401":{"description":"User not authenticated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectGrantMetadata"}}}},"403":{"description":"Permission denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectGrantMetadata"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectGrantMetadata"}}}}}},"post":{"tags":["catalog-object-grant-controller"],"summary":"Create a new group grant for a catalog object","operationId":"createCatalogObjectGrantForAGroup","parameters":[{"name":"sessionID","in":"header","description":"The session id used to access ProActive REST server.","required":true,"schema":{"type":"string"}},{"name":"bucketName","in":"path","description":"The name of the bucket where the catalog object is stored.","required":true,"schema":{"pattern":"[a-z][a-z0-9-]{1,61}[a-z0-9]","type":"string"}},{"name":"catalogObjectName","in":"path","description":"The name of the object in the bucket, which is the subject of the grant.","required":true,"schema":{"pattern":"^[^\\s\\/,]+(\\s+[^\\s\\/,]+)*$","type":"string"}},{"name":"accessType","in":"query","description":"The type of the access grant.<br />It can be either noAccess, read, write or admin.","required":true,"schema":{"type":"string","enum":["noAccess","read","write","admin"]}},{"name":"priority","in":"query","description":"The new priority of the access grant.<br />It can be a value from 1 (lowest) to 10 (highest), with 5 as default.<br />Priorities are used to compute the final access rights of a user belonging to multiple groups.<br />Group grants with the same priority will resolve with the default accessType order (admin > write > read > noAccess).<br />Finally, please note that a user grant has always more priority than a group grant.","required":true,"schema":{"maximum":10,"minimum":1,"type":"integer","default":5}},{"name":"userGroup","in":"query","description":"The name of the group of users that will benefit of the access grant.","required":true,"schema":{"type":"string","default":""}}],"responses":{"401":{"description":"User not authenticated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectGrantMetadata"}}}},"403":{"description":"Permission denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectGrantMetadata"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectGrantMetadata"}}}}}},"delete":{"tags":["catalog-object-grant-controller"],"summary":"Delete a user group grant access for a catalog object","operationId":"deleteCatalogObjectGrantForAGroup","parameters":[{"name":"sessionID","in":"header","description":"The session id used to access ProActive REST server.","required":true,"schema":{"type":"string"}},{"name":"bucketName","in":"path","description":"The name of the bucket where the catalog object is stored.","required":true,"schema":{"pattern":"[a-z][a-z0-9-]{1,61}[a-z0-9]","type":"string"}},{"name":"catalogObjectName","in":"path","description":"The name of the object in the bucket, which is the subject of the grant.","required":true,"schema":{"pattern":"^[^\\s\\/,]+(\\s+[^\\s\\/,]+)*$","type":"string"}},{"name":"userGroup","in":"query","description":"The name of the group of users that are benefiting of the access grant.","required":true,"schema":{"type":"string","default":""}}],"responses":{"401":{"description":"User not authenticated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectGrantMetadata"}}}},"403":{"description":"Permission denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectGrantMetadata"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectGrantMetadata"}}}}}}},"/buckets/{bucketName}/resources/import":{"post":{"tags":["catalog-object-controller"],"summary":"Import an archive, either a plain zip or a ProActive Catalog package","description":"Can either import objects from a plain zip archive, in which case the objects kind, project name and tags must be specified. Alternatively, a ProActive Catalog package can be imported, the various information will be obtained from the METADATA json file present in the package.","operationId":"importCatalogObjects","parameters":[{"name":"sessionID","in":"header","description":"sessionID","required":true,"schema":{"type":"string"}},{"name":"bucketName","in":"path","description":"The name of the existing Bucket","required":true,"schema":{"pattern":"[a-z][a-z0-9-]{1,61}[a-z0-9]","type":"string"}},{"name":"isPlainZip","in":"query","description":"Plain zip instead of a Proactive package","required":false,"schema":{"type":"boolean","default":false}},{"name":"commitMessage","in":"query","description":"Commit message. If empty, the message will either be empty for a plain zip or the commit message recorded inside the ProActive Catalog package.","required":false,"schema":{"type":"string","default":""}},{"name":"kind","in":"query","description":"Kind of the new object (only used when importing a plain zip)","required":false,"schema":{"pattern":"^([a-zA-Z0-9][a-zA-Z0-9_\\. ;=\\+\\-]{0,61}[a-zA-Z0-9]\\/?)+$","type":"string"}},{"name":"projectName","in":"query","description":"Project of the package objects (Optional). If used with a ProActive Catalog package, will override all objects project names.","required":false,"schema":{"type":"string","default":""}},{"name":"tags","in":"query","description":"List of comma separated tags of the objects (Optional). If used with a ProActive Catalog package, will override all objects tags.","required":false,"schema":{"pattern":"^([a-zA-Z][\\s0-9a-zA-Z-_.\\/]+[,]*)*(?<!,)$","type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","description":"The ProActive package zip file","format":"binary"}}}}}},"responses":{"404":{"description":"Bucket not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectMetadataList"}}}},"422":{"description":"Invalid file content supplied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectMetadataList"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogObjectMetadataList"}}}}}}},"/buckets/{bucketName}/resources/export":{"post":{"tags":["catalog-object-controller"],"summary":"Export catalog objects as a plain zip archive or a ProActive Catalog Package","description":"Can either export catalog objects as a plain zip or as a ProActive Package containing the exported files along with a METADATA json file describing the exported objects. <br/> Note: Returns catalog objects metadata associated to the latest revision.","operationId":"exportCatalogObjects","parameters":[{"name":"sessionID","in":"header","description":"sessionID","required":false,"schema":{"type":"string"}},{"name":"bucketName","in":"path","required":true,"schema":{"type":"string"}},{"name":"isPlainZip","in":"query","description":"Plain zip instead of a Proactive package","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"description":"An optional json list of catalog object names to export. If not provided, the bucket will be exported fully.","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}},"responses":{"206":{"description":"Missing object","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}}},"401":{"description":"User not authenticated","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}}},"403":{"description":"Permission denied","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}}},"404":{"description":"Bucket not found or no object was found","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}}}}}},"/buckets/{bucketName}/grant":{"get":{"tags":["bucket-grant-controller"],"summary":"Get all grants associated with a bucket","operationId":"getAllGrantsForABucket","parameters":[{"name":"sessionID","in":"header","description":"The session id used to access ProActive REST server.","required":true,"schema":{"type":"string"}},{"name":"bucketName","in":"path","description":"The name of the bucket where the catalog objects are stored.","required":true,"schema":{"pattern":"[a-z][a-z0-9-]{1,61}[a-z0-9]","type":"string"}}],"responses":{"401":{"description":"User not authenticated","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BucketGrantMetadata"}}}}},"403":{"description":"Permission denied","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BucketGrantMetadata"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BucketGrantMetadata"}}}}}}},"delete":{"tags":["bucket-grant-controller"],"summary":"Delete all grants assigned to a bucket","operationId":"deleteAllBucketGrantsAssignedToABucket","parameters":[{"name":"sessionID","in":"header","description":"The session id used to access ProActive REST server.","required":true,"schema":{"type":"string"}},{"name":"bucketName","in":"path","description":"The name of the bucket where the catalog objects are stored.","required":true,"schema":{"pattern":"[a-z][a-z0-9-]{1,61}[a-z0-9]","type":"string"}}],"responses":{"401":{"description":"User not authenticated","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BucketGrantMetadata"}}}}},"403":{"description":"Permission denied","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BucketGrantMetadata"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BucketGrantMetadata"}}}}}}}},"/buckets/{bucketName}/grant/user":{"put":{"tags":["bucket-grant-controller"],"summary":"Update the access type of an existing user bucket grant","operationId":"updateBucketGrantForAUser","parameters":[{"name":"sessionID","in":"header","description":"The session id used to access ProActive REST server.","required":true,"schema":{"type":"string"}},{"name":"bucketName","in":"path","description":"The name of the bucket where the catalog objects are stored.","required":true,"schema":{"pattern":"[a-z][a-z0-9-]{1,61}[a-z0-9]","type":"string"}},{"name":"username","in":"query","description":"The name of the user that is benefiting from the access grant.","required":true,"schema":{"type":"string","default":""}},{"name":"accessType","in":"query","description":"The new type of the access grant. It can be either noAccess, read, write or admin.","required":true,"schema":{"type":"string","enum":["noAccess","read","write","admin"]}}],"responses":{"401":{"description":"User not authenticated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BucketGrantMetadata"}}}},"403":{"description":"Permission denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BucketGrantMetadata"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BucketGrantMetadata"}}}}}},"post":{"tags":["bucket-grant-controller"],"summary":"Create a new user grant access for a bucket","operationId":"createBucketGrantForAUser","parameters":[{"name":"sessionID","in":"header","description":"The the session id used to access ProActive REST server","required":true,"schema":{"type":"string"}},{"name":"bucketName","in":"path","description":"The name of the bucket where the catalog objects are stored.","required":true,"schema":{"pattern":"[a-z][a-z0-9-]{1,61}[a-z0-9]","type":"string"}},{"name":"accessType","in":"query","description":"The type of the access grant.<br />It can be either noAccess, read, write or admin.","required":true,"schema":{"type":"string","enum":["noAccess","read","write","admin"]}},{"name":"username","in":"query","description":"The name of the user that will benefit of the access grant.","required":true,"schema":{"type":"string","default":""}}],"responses":{"401":{"description":"User not authenticated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BucketGrantMetadata"}}}},"403":{"description":"Permission denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BucketGrantMetadata"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BucketGrantMetadata"}}}}}},"delete":{"tags":["bucket-grant-controller"],"summary":"Delete a user grant access for a bucket","operationId":"deleteBucketGrantForAUser","parameters":[{"name":"sessionID","in":"header","description":"The session id used to access ProActive REST server.","required":true,"schema":{"type":"string"}},{"name":"bucketName","in":"path","description":"The name of the bucket where the catalog objects are stored.","required":true,"schema":{"pattern":"[a-z][a-z0-9-]{1,61}[a-z0-9]","type":"string"}},{"name":"username","in":"query","description":"The name of the user that is benefiting from the access grant.","required":true,"schema":{"type":"string","default":""}}],"responses":{"401":{"description":"User not authenticated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BucketGrantMetadata"}}}},"403":{"description":"Permission denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BucketGrantMetadata"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BucketGrantMetadata"}}}}}}},"/buckets/{bucketName}/grant/group":{"put":{"tags":["bucket-grant-controller"],"summary":"Update the access type of an existing group bucket grant","operationId":"updateBucketGrantForAGroup","parameters":[{"name":"sessionID","in":"header","description":"The session id used to access ProActive REST server.","required":true,"schema":{"type":"string"}},{"name":"bucketName","in":"path","description":"The name of the bucket where the catalog objects are stored.","required":true,"schema":{"pattern":"[a-z][a-z0-9-]{1,61}[a-z0-9]","type":"string"}},{"name":"userGroup","in":"query","description":"The name of the group of users that are benefiting from the access grant.","required":true,"schema":{"type":"string","default":""}},{"name":"accessType","in":"query","description":"The new type of the access grant. It can be either noAccess, read, write or admin.","required":true,"schema":{"type":"string","enum":["noAccess","read","write","admin"]}},{"name":"priority","in":"query","description":"The new priority of the access grant.<br />It can be a value from 1 (lowest) to 10 (highest), with 5 as default.Priorities are used to compute the final access rights of a user belonging to multiple groups.<br />Group grants with the same priority will resolve with the default accessType order (admin > write > read > noAccess).<br />Finally, please note that a user grant has always more priority than a group grant.","required":true,"schema":{"maximum":10,"minimum":1,"type":"integer","default":5}}],"responses":{"401":{"description":"User not authenticated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BucketGrantMetadata"}}}},"403":{"description":"Permission denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BucketGrantMetadata"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BucketGrantMetadata"}}}}}},"post":{"tags":["bucket-grant-controller"],"summary":"Create a new user group grant access for a bucket","operationId":"createBucketGrantForAGroup","parameters":[{"name":"sessionID","in":"header","description":"The session id used to access ProActive REST server","required":true,"schema":{"type":"string"}},{"name":"bucketName","in":"path","description":"The name of the bucket where the catalog objects are stored.","required":true,"schema":{"pattern":"[a-z][a-z0-9-]{1,61}[a-z0-9]","type":"string"}},{"name":"accessType","in":"query","description":"The type of the access grant.<br />It can be either noAccess, read, write or admin.","required":true,"schema":{"type":"string","enum":["noAccess","read","write","admin"]}},{"name":"priority","in":"query","description":"The new priority of the access grant.<br />It can be a value from 1 (lowest) to 10 (highest), with 5 as default.\nPriorities are used to compute the final access rights of a user belonging to multiple groups.<br />Group grants with the same priority will resolve with the default accessType order (admin > write > read > noAccess).<br />Finally, please note that a user grant has always more priority than a group grant.","required":true,"schema":{"maximum":10,"minimum":1,"type":"integer","default":5}},{"name":"userGroup","in":"query","description":"The name of the group of users that will benefit of the access grant.","required":true,"schema":{"type":"string","default":""}}],"responses":{"401":{"description":"User not authenticated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BucketGrantMetadata"}}}},"403":{"description":"Permission denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BucketGrantMetadata"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BucketGrantMetadata"}}}}}},"delete":{"tags":["bucket-grant-controller"],"summary":"Delete a group grant access for a bucket","operationId":"deleteBucketGrantForAGroup","parameters":[{"name":"sessionID","in":"header","description":"The session id used to access ProActive REST server.","required":true,"schema":{"type":"string"}},{"name":"bucketName","in":"path","description":"The name of the bucket where the catalog objects are stored.","required":true,"schema":{"pattern":"[a-z][a-z0-9-]{1,61}[a-z0-9]","type":"string"}},{"name":"userGroup","in":"query","description":"The name of the group of users that are benefiting from the access grant.","required":true,"schema":{"type":"string","default":""}}],"responses":{"401":{"description":"User not authenticated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BucketGrantMetadata"}}}},"403":{"description":"Permission denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BucketGrantMetadata"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BucketGrantMetadata"}}}}}}},"/buckets/{bucketName}/grant/all":{"get":{"tags":["bucket-grant-controller"],"summary":"Get all grants associated with a bucket and all objects contained in this bucket","operationId":"getAllGrantsForABucketAndItsObjects","parameters":[{"name":"sessionID","in":"header","description":"The session id used to access ProActive REST server.","required":true,"schema":{"type":"string"}},{"name":"bucketName","in":"path","description":"The name of the bucket where the catalog objects are stored.","required":true,"schema":{"pattern":"[a-z][a-z0-9-]{1,61}[a-z0-9]","type":"string"}}],"responses":{"401":{"description":"User not authenticated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AllBucketGrants"}}}},"403":{"description":"Permission denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AllBucketGrants"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AllBucketGrants"}}}}}},"delete":{"tags":["bucket-grant-controller"],"summary":"Delete all grants associated with a bucket and all objects contained in this bucket","operationId":"deleteAllGrantsForABucketAndItsObjects","parameters":[{"name":"sessionID","in":"header","description":"The session id used to access ProActive REST server.","required":true,"schema":{"type":"string"}},{"name":"bucketName","in":"path","description":"The name of the bucket where the catalog objects are stored.","required":true,"schema":{"pattern":"[a-z][a-z0-9-]{1,61}[a-z0-9]","type":"string"}}],"responses":{"401":{"description":"User not authenticated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AllBucketGrants"}}}},"403":{"description":"Permission denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AllBucketGrants"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AllBucketGrants"}}}}}}},"/buckets/tags":{"get":{"tags":["catalog-object-controller"],"summary":"Lists all tags values for all objects stored in the catalog","operationId":"listObjectTags","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}}}}}},"/buckets/resources/metadata":{"put":{"tags":["catalog-object-controller"],"summary":"Updates metadata, like kind, Content-Type, project name and tags for multiple objects","operationId":"updateObjectMetadataMulti","parameters":[{"name":"sessionID","in":"header","description":"sessionID","required":true,"schema":{"type":"string"}},{"name":"kind","in":"query","description":"The new kind of an object","required":false,"schema":{"pattern":"^([a-zA-Z0-9][a-zA-Z0-9_\\. ;=\\+\\-]{0,61}[a-zA-Z0-9]\\/?)+$","type":"string"}},{"name":"contentType","in":"query","description":"The new Content-Type of an object - MIME type","required":false,"schema":{"pattern":"^([a-zA-Z0-9][a-zA-Z0-9_\\. ;=\\+\\-]{0,61}[a-zA-Z0-9]\\/?)+$","type":"string"}},{"name":"projectName","in":"query","description":"The new project name of an object","required":false,"schema":{"type":"string"}},{"name":"tags","in":"query","description":"List of comma separated tags of the object","required":false,"schema":{"pattern":"^([a-zA-Z][\\s0-9a-zA-Z-_.\\/]+[,]*)*(?<!,)$","type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"List of catalog objects to update with syntax \"bucketName/objectName\"","items":{"type":"string"}}}},"required":true},"responses":{"404":{"description":"Bucket, object or revision not found","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}}},"401":{"description":"User not authenticated","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}}},"403":{"description":"Permission denied","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}}},"400":{"description":"Wrong specified parameters: at least one should be present","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}}}}}},"/buckets/report":{"get":{"tags":["catalog-object-report-controller"],"summary":"Get a ZIP file containing the PDF reports for each catalog objects matching the provided filters","operationId":"getReport","parameters":[{"name":"sessionID","in":"header","description":"sessionID","required":false,"schema":{"type":"string"}},{"name":"owner","in":"query","description":"The name of the user who owns the Bucket","required":false,"schema":{"type":"string"}},{"name":"kind","in":"query","description":"The kind of objects that buckets must contain","required":false,"schema":{"type":"string"}},{"name":"contentType","in":"query","description":"The Content-Type of objects that buckets must contain","required":false,"schema":{"type":"string"}},{"name":"projectName","in":"query","description":"The project name of objects containing this name","required":false,"schema":{"type":"string"}},{"name":"objectName","in":"query","description":"The object name of objects containing this name","required":false,"schema":{"type":"string"}},{"name":"bucketName","in":"query","description":"The bucket name of catalog objects","required":false,"schema":{"type":"string"}},{"name":"tag","in":"query","description":"The tag of catalog objects","required":false,"schema":{"type":"string"}},{"name":"lastCommitBy","in":"query","description":"The user who last committed the catalog object","required":false,"schema":{"type":"string"}},{"name":"committedAtLeastOnceBy","in":"query","description":"The user who committed at least once in the catalog object","required":false,"schema":{"type":"string"}},{"name":"lastCommitTimeLessThan","in":"query","description":"The maximum time the object was last committed","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"lastCommitTimeGreater","in":"query","description":"The minimum time the object was last committed","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"401":{"description":"User not authenticated","content":{"application/json":{}}},"403":{"description":"Permission denied","content":{"application/json":{}}},"200":{"description":"OK","content":{"application/pdf":{"schema":{"type":"string","format":"byte"}}}}}}},"/buckets/report/selected/{bucketName}":{"post":{"tags":["catalog-object-report-controller"],"summary":"Get a PDF report file for the selected catalog items","operationId":"getReportForSelectedObjects","parameters":[{"name":"sessionID","in":"header","description":"sessionID","required":false,"schema":{"type":"string"}},{"name":"bucketName","in":"path","required":true,"schema":{"type":"string"}},{"name":"kind","in":"query","description":"Filter according to kind.","required":false,"schema":{"type":"string"}},{"name":"contentType","in":"query","description":"Filter according to Content-Type.","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"Give a list of name separated by comma to get them in the report","items":{"type":"string"}}}}},"responses":{"401":{"description":"User not authenticated","content":{"application/json":{}}},"403":{"description":"Permission denied","content":{"application/json":{}}},"200":{"description":"OK","content":{"application/pdf":{"schema":{"type":"string","format":"byte"}}}},"404":{"description":"Bucket not found","content":{"application/json":{}}}}}},"/buckets/references":{"get":{"tags":["catalog-object-controller"],"summary":"Lists catalog object name references by kind and Content-Type","operationId":"listCatalogObjectNameReference","parameters":[{"name":"sessionID","in":"header","description":"sessionID","required":false,"schema":{"type":"string"}},{"name":"kind","in":"query","description":"Filter according to kind","required":false,"schema":{"type":"string"}},{"name":"contentType","in":"query","description":"Filter according to Content-Type","required":false,"schema":{"type":"string"}}],"responses":{"401":{"description":"User not authenticated","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CatalogObjectNameReference"}}}}},"403":{"description":"Permission denied","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CatalogObjectNameReference"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CatalogObjectNameReference"}}}}}}}},"/buckets/kinds":{"get":{"tags":["catalog-object-controller"],"summary":"Lists all kinds for all objects","operationId":"listKinds","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}}}}}},"/buckets/content-types":{"get":{"tags":["catalog-object-controller"],"summary":"Lists all Content-Types for all objects","operationId":"listContentTypes","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}}}}}},"/buckets/call-graph":{"get":{"tags":["catalog-object-call-graph-controller"],"summary":"Get a ZIP file containing a call graph report for each catalog objects matching the provided filters","operationId":"getCallGraph","parameters":[{"name":"sessionID","in":"header","description":"sessionID","required":false,"schema":{"type":"string"}},{"name":"owner","in":"query","description":"The name of the user who owns the Bucket","required":false,"schema":{"type":"string"}},{"name":"kind","in":"query","description":"The kind of objects that buckets must contain","required":false,"schema":{"type":"string"}},{"name":"contentType","in":"query","description":"The Content-Type of objects that buckets must contain","required":false,"schema":{"type":"string"}},{"name":"projectName","in":"query","description":"The project name of objects containing this name","required":false,"schema":{"type":"string"}},{"name":"objectName","in":"query","description":"The object name of objects containing this name","required":false,"schema":{"type":"string"}},{"name":"bucketName","in":"query","description":"The bucket name of catalog objects","required":false,"schema":{"type":"string"}},{"name":"tag","in":"query","description":"The tag of catalog objects","required":false,"schema":{"type":"string"}},{"name":"lastCommitBy","in":"query","description":"The user who last committed the catalog object","required":false,"schema":{"type":"string"}},{"name":"committedAtLeastOnceBy","in":"query","description":"The user committed at least once in the catalog object","required":false,"schema":{"type":"string"}},{"name":"lastCommitTimeLessThan","in":"query","description":"The maximum time the object was last committed","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"lastCommitTimeGreater","in":"query","description":"The minimum time the object was last committed","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"401":{"description":"User not authenticated","content":{"application/json":{}}},"403":{"description":"Permission denied","content":{"application/json":{}}},"200":{"description":"OK","content":{"application/pdf":{"schema":{"type":"string","format":"byte"}}}}}}},"/buckets/call-graph/selected/{bucketName}":{"get":{"tags":["catalog-object-call-graph-controller"],"summary":"Get the call graph of selected catalog objects in a bucket","operationId":"getCallGraphForSelectedObjects","parameters":[{"name":"sessionID","in":"header","description":"sessionID","required":false,"schema":{"type":"string"}},{"name":"owner","in":"query","description":"The name of the user who owns the Bucket","required":false,"schema":{"type":"string"}},{"name":"bucketName","in":"path","required":true,"schema":{"type":"string"}},{"name":"kind","in":"query","description":"Filter according to kind.","required":false,"schema":{"type":"string"}},{"name":"contentType","in":"query","description":"Filter according to Content-Type.","required":false,"schema":{"type":"string"}},{"name":"name","in":"query","description":"Give a list of name separated by comma to get them in the report","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"401":{"description":"User not authenticated","content":{"application/json":{}}},"403":{"description":"Permission denied","content":{"application/json":{}}},"200":{"description":"OK","content":{"application/pdf":{"schema":{"type":"string","format":"byte"}}}},"404":{"description":"Bucket not found","content":{"application/json":{}}}}}}},"components":{"schemas":{"BucketMetadata":{"type":"object","properties":{"owner":{"type":"string"},"name":{"type":"string"},"objectCount":{"type":"integer","format":"int32"},"rights":{"type":"string"},"tenant":{"type":"string"},"links":{"type":"array","xml":{"name":"link","namespace":"http://www.w3.org/2005/Atom"},"items":{"$ref":"#/components/schemas/Link"}}}},"Link":{"type":"object","properties":{"rel":{"type":"string","xml":{"attribute":true}},"href":{"type":"string","xml":{"attribute":true}},"hreflang":{"type":"string","xml":{"attribute":true}},"media":{"type":"string","xml":{"attribute":true}},"title":{"type":"string","xml":{"attribute":true}},"type":{"type":"string","xml":{"attribute":true}},"deprecation":{"type":"string","xml":{"attribute":true}}}},"CatalogObjectMetadata":{"type":"object","properties":{"name":{"type":"string"},"extension":{"type":"string"},"links":{"type":"array","xml":{"name":"link","namespace":"http://www.w3.org/2005/Atom"},"items":{"$ref":"#/components/schemas/Link"}},"commit_time_raw":{"type":"string"},"kind":{"type":"string"},"bucket_name":{"type":"string"},"project_name":{"type":"string"},"tags":{"type":"string"},"commit_time":{"type":"string","format":"date-time"},"content_type":{"type":"string"},"commit_message":{"type":"string"},"username":{"type":"string"},"object_key_values":{"type":"array","items":{"$ref":"#/components/schemas/Metadata"}},"variables_order":{"type":"object","additionalProperties":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/JobVariable"}}},"rights":{"type":"string"}}},"CatalogObjectMetadataList":{"type":"object","properties":{"object":{"type":"array","items":{"$ref":"#/components/schemas/CatalogObjectMetadata"}}}},"JobVariable":{"type":"object","properties":{"name":{"type":"string","xml":{"attribute":true}},"value":{"type":"string","xml":{"attribute":true}},"model":{"type":"string","xml":{"attribute":true}},"description":{"type":"string","xml":{"attribute":true}},"group":{"type":"string","xml":{"attribute":true}},"advanced":{"type":"boolean","xml":{"attribute":true}},"hidden":{"type":"boolean","xml":{"attribute":true}}}},"Metadata":{"type":"object","properties":{"key":{"type":"string"},"value":{"type":"string"},"label":{"type":"string"}}},"CatalogObjectDependencies":{"type":"object","properties":{"depends_on":{"type":"array","items":{"$ref":"#/components/schemas/DependsOnCatalogObject"}},"called_by":{"type":"array","items":{"type":"string"}}}},"DependsOnCatalogObject":{"type":"object","properties":{"bucket_and_object_name":{"type":"string"},"kind":{"type":"string"},"revision_commit_time":{"type":"string"},"is_in_catalog":{"type":"boolean"}}},"CatalogObjectGrantMetadata":{"type":"object","properties":{"granteeType":{"type":"string"},"grantee":{"type":"string"},"accessType":{"type":"string"},"priority":{"type":"integer","format":"int32"},"bucketName":{"type":"string"},"creator":{"type":"string"},"creationDate":{"type":"integer","format":"int64"},"modificationHistory":{"type":"array","items":{"$ref":"#/components/schemas/ModificationHistoryData"}},"catalogObjectId":{"$ref":"#/components/schemas/CatalogObjectID"},"catalogObjectName":{"type":"string"},"catalogObjectBucketId":{"type":"integer","format":"int64"},"links":{"type":"array","xml":{"name":"link","namespace":"http://www.w3.org/2005/Atom"},"items":{"$ref":"#/components/schemas/Link"}}}},"CatalogObjectID":{"type":"object","properties":{"bucketId":{"type":"integer","format":"int64"},"catalogObjectName":{"type":"string"},"links":{"type":"array","xml":{"name":"link","namespace":"http://www.w3.org/2005/Atom"},"items":{"$ref":"#/components/schemas/Link"}}}},"ModificationHistoryData":{"type":"object","properties":{"modificationDate":{"type":"integer","format":"int64"},"username":{"type":"string"},"oldValues":{"type":"string"},"newValues":{"type":"string"},"changes":{"type":"string"}}},"BucketGrantMetadata":{"type":"object","properties":{"granteeType":{"type":"string"},"grantee":{"type":"string"},"accessType":{"type":"string"},"priority":{"type":"integer","format":"int32"},"bucketName":{"type":"string"},"creator":{"type":"string"},"creationDate":{"type":"integer","format":"int64"},"modificationHistory":{"type":"array","items":{"$ref":"#/components/schemas/ModificationHistoryData"}},"bucketId":{"type":"integer","format":"int64"},"links":{"type":"array","xml":{"name":"link","namespace":"http://www.w3.org/2005/Atom"},"items":{"$ref":"#/components/schemas/Link"}}}},"AllBucketGrants":{"type":"object","properties":{"bucketGrants":{"type":"array","items":{"$ref":"#/components/schemas/BucketGrantMetadata"}},"objectGrants":{"type":"array","items":{"$ref":"#/components/schemas/CatalogObjectGrantMetadata"}}}},"CatalogObjectNameReference":{"type":"object","properties":{"bucket_name":{"type":"string"},"project_name":{"type":"string"},"name":{"type":"string"}}}}}}